<% layout('layouts/boilerPlates') -%>

<div class="row">
  <div class="col-6 ">
    <div class="card" style="width: 35rem;">
      <img src="<%= Campground.image %>" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title"><h1><%= Campground.title %></h1></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Location:<h1><%= Campground.location %></h1></li>
        <li class="list-group-item">Submitted by:<h1><%= Campground.author.username %></h1></li>
        <li class="list-group-item">Description:<%= Campground.description %></li>
        <li class="list-group-item">price:💲<%= Campground.price %>
        </li>
      </ul>
      <% if (currentUser && Campground.author.equals(currentUser)) { %>
        <div class="card-body">
          <a href="/campgrounds/<%=Campground._id%>/edit"> Edit Campground</a>
          <a href="/campgrounds">All Campground</a>
          <form action="/campgrounds/<%= Campground._id%>?_method=delete" method="post">
            <button class="btn btn-primary">Delete</button>
          </form>
        </div>
        <% } %>
    </div>
  </div>
  <div class="col-6">
    <% if(currentUser) {%>
    <h2>Leave a Review</h2>
    <form action="/campgrounds/<%= Campground._id %>/reviews"   method="post" class="mb-3 needs-validation" novalidate >
      <div class="mb-3">
        <label class="form-label" for="rate">Rating</label>
        <!-- <input  type="range" name="review[Rating]" id="rate" > -->
        <input class="form-range" type="range" name="review[rating]" id="rate" min="1" max="5">
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea name="review[body]" id="body" class="form-control" cols="15" rows="3" required></textarea>
        <div class="valid-feedback">
          Looks Good!
        </div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %>
    <% for (let review of Campground.reviews) {%>
   <div class="card mb-3 ">
      <div class="card-body">

      <h5 class="card-title">Rating:<%= review.rating %></h5>
      <h6 class="card-subtitle mb-2 text-muted"> BY:<%= review.author.username %></h6>
      <p>Review:<%= review.body %></p>
      <% if (currentUser && review.author.equals(currentUser)) { %>
      <form action="<%=Campground._id%>/reviews/<%=review._id%>?_method=DELETE"method="POST" >
        <button class="btn btn-sm btn-danger">Delete</button>
      </form>
      <% } %>
    </div>
  </div>
    <% } %>
  </div>
</div>

